<nav class="sub-menu {{ with .Site.Params.section1.styleSubMenu }}{{ . }}{{ end }} {{ with .Site.Params.section1.columnSubMenu }}{{ . }}{{ end }} {{ with .Site.Params.section1.orderSubMenu }}{{ . }}{{ end }}">
	{{ if eq .Site.Params.section1.subMenu "1" }}
		<h3 class="subMenuTitle">{{ with .Site.Params.section1.subMenuTitle }}{{ . }}{{ end }}</h3>
		<ul>
			{{ range .Site.Menus.submenu1 }}
				<li>
					<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
				</li>
			{{ end }}
		</ul>
	{{ else if eq .Site.Params.section1.subMenu "2" }}
		<h3 class="subMenuTitle">{{ with .Site.Params.section1.subMenuTitle }}{{ . }}{{ end }}</h3>
		<ul>
			{{ range .Site.Menus.submenu2 }}
				<li>
					<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
				</li>
			{{ end }}
		</ul>
	{{ else if eq .Site.Params.section1.subMenu "3" }}
		<h3 class="subMenuTitle">{{ with .Site.Params.section1.subMenuTitle }}{{ . }}{{ end }}</h3>
		<ul>
			{{ range .Site.Menus.submenu3 }}
				<li>
					<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
				</li>
			{{ end }}
		</ul>
	{{ else if eq .Site.Params.section1.subMenu "4" }}
		<h3 class="subMenuTitle">{{ with .Site.Params.section1.subMenuTitle }}{{ . }}{{ end }}</h3>
		<ul>
			{{ range .Site.Menus.submenu4 }}
				<li>
					<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
				</li>
			{{ end }}
		</ul>
	{{ else if eq .Site.Params.section1.subMenu "5" }}
		<h3 class="subMenuTitle">{{ with .Site.Params.section1.subMenuTitle }}{{ . }}{{ end }}</h3>
		<ul>
			{{ range .Site.Menus.submenu5 }}
				<li>
					<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
				</li>
			{{ end }}
		</ul>
	{{ else if eq .Site.Params.section1.subMenu "6" }}
		<h3 class="subMenuTitle">{{ with .Site.Params.section1.subMenuTitle }}{{ . }}{{ end }}</h3>
		<ul>
			{{ range .Site.Menus.submenu6 }}
				<li>
					<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
				</li>
			{{ end }}
		</ul>
	{{ else }}
	{{ end }}
</nav>