<h3 class="subMenuTitle">{{ with .Site.Params.section1.subMenuTitle }}{{ . }}{{ end }}</h3>
<ul>
	{{ if eq .Site.Params.section1.subMenu "1" }}
		{{ range .Site.Menus.submenu1 }}
		<li>
			<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
		</li>
		{{ end }}
	{{ else if eq .Site.Params.section1.subMenu "2" }}
		{{ range .Site.Menus.submenu2 }}
		<li>
			<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
		</li>
		{{ end }}
	{{ else if eq .Site.Params.section1.subMenu "3" }}
		{{ range .Site.Menus.submenu3 }}
		<li>
			<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
		</li>
		{{ end }}
	{{ else if eq .Site.Params.section1.subMenu "4" }}
		{{ range .Site.Menus.submenu4 }}
		<li>
			<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
		</li>
		{{ end }}
	{{ else if eq .Site.Params.section1.subMenu "5" }}
		{{ range .Site.Menus.submenu5 }}
		<li>
			<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
		</li>
		{{ end }}
	{{ else if eq .Site.Params.section1.subMenu "6" }}
		{{ range .Site.Menus.submenu6 }}
		<li>
			<a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a>
		</li>
		{{ end }}
	{{ else }}
	{{ end }}
</ul>