{{ partial "header.html" . }}
	<div class="container positionTheme">
		<header class="header flex {{ with .Site.Params.header.style }}{{ . }}{{ end }}">
			<article class="flex {{ with .Site.Params.header.styleArticle }}{{ . }}{{ end }} {{ with .Site.Params.header.columnArticle }}{{ . }}{{ end }} {{ with .Site.Params.header.orderArticle }}{{ . }}{{ end }}">
				{{ partial "contents/content-header.html" . }}
				{{ partial "menus/menus.html" . }}
			</article>
			{{ partial "subSections/subSections.html" . }}
		</header>
		{{ partial "sections.html" . }}
	</div>
{{ partial "footer.html" . }}