<html lang="da">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Systematik | Forside</title>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/reset.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
</head>
<body>
<div class="main-container">
	<header class="main-top"> 

		<!-- -----------------------------
			HTML | Header - Main Menu
		  ----------------------------- -->

		<nav class="main-menu">
			<h3 class="menu-title"><span>Menu</span></h3>
			<ul class="container">
			</ul>
		</nav>
	</header>
