<html lang="da">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Systematik | Forside</title>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/reset.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/flexboxgrid.min.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/grid.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/animations.css" type="text/css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body id="page-top">
<div class="main-container {{ with .Site.Params.themeColor }}{{ . }}{{ end }}">
	<header class="main-top"> 

		{{ if .Site.Params.logo }}
			<a class="logo" href="{{ if .IsHome }}{{ .Site.BaseURL }}#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
				{{ $url := printf "img/%s" .Site.Params.logo }}
				<img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Site.Params.brand }}">
			</a>
		{{ else }}
			<a class="logo" href="{{ if .IsHome }}{{ .Site.BaseURL }}#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
				{{ .Site.Params.brand }}
			</a>
		{{ end }}

		<!-- -----------------------------
			HTML | Header - Main Menu
		  ----------------------------- -->

		<nav class="main-menu">
			<h3 class="menu-title"><span>Menu</span></h3>
			<ul class="container">
			</ul>
		</nav>
	</header>
