<!-------------------------------
	HTML | Row 1
  ------------------------------->

{{ if eq .Site.Params.sections.row1 "section1" }}
	{{ partial "sections/section1.html" . }}
{{ else if eq .Site.Params.sections.row1 "section2" }}
	{{ partial "sections/section2.html" . }}
{{ else if eq .Site.Params.sections.row1 "section3" }}
	{{ partial "sections/section3.html" . }}
{{ else if eq .Site.Params.sections.row1 "section4" }}
	{{ partial "sections/section4.html" . }}
{{ else if eq .Site.Params.sections.row1 "section5" }}
	{{ partial "sections/section5.html" . }}
{{ else if eq .Site.Params.sections.row1 "section6" }}
	{{ partial "sections/section6.html" . }}
{{ else }}
	{{ partial "sections/error.html" . }}
{{ end }}
