<!-------------------------------
	HTML | Section 1
  ------------------------------->
	<section id="{{ with .Site.Params.section1.slug }}{{ . }}{{ end }}" class="grid">
		<article class="{{ with .Site.Params.section1.columnStart }}{{ . }}{{ end }} {{ with .Site.Params.section1.columnSpan }}{{ . }}{{ end }} {{ with .Site.Params.section1.rowStart }}{{ . }}{{ end }} {{ with .Site.Params.section1.rowSpan }}{{ . }}{{ end }}">
		{{ with .Site.GetPage "page" "sections/section1.md" }}
			{{ .Content}}
		{{ end }}
		</article>
		{{ partial "subSections/subSections.html" . }}
		<nav class="sub-menu {{ with .Site.Params.section1.subMenuColumnStart }}{{ . }}{{ end }} {{ with .Site.Params.section1.subMenuColumnSpan }}{{ . }}{{ end }} {{ with .Site.Params.section1.subMenuRowStart }}{{ . }}{{ end }} {{ with .Site.Params.section1.subMenuRowSpan }}{{ . }}{{ end }}">
			{{ partial "subMenus/subMenus.html" . }}
		</nav>
	</section>
